<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>API Prova</title>
</head>
<body>
    <form method="POST" action="/insert">
        <div class="form-group">
            <label for="game_name">Nome do Jogo:</label>
            <input type="string" name="game_name" required>
        </div>
        <div class="form-group">
            <label for="plataform">Plataforma:</label>
            <input type="string" name="plataform" required>
        </div>
        <div class="form-group">
            <label for="price">Preço do Jogo</label>
            <input type="number" name="price" required>
        </div>
        <div class="form-group">
            <label for="quantity">Quantidade de Jogos </label>
            <input type="number" name="quantity" required>
        </div>
        <button type="submit">Salvar Novo Jogo</button>
    </form>
    
</body>
</html>